<launch>

  <arg name="gui" default="true" />

  <arg name="INPUT_CLOUD" value="/d435/depth/color/points" />
  <arg name="INPUT_BOX_ARRAY" value="/desired/input/box_array" />

  <node name="attention_clipper"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/AttentionClipper">
    <remap from="~input/points" to="$(arg INPUT_CLOUD)" />
    <remap from="~input/box_array" to="$(arg INPUT_BOX_ARRAY)" />
    <rosparam>
      use_multiple_attention: True
      frame_id_list: ["d435_depth_optical_frame", "d435_depth_optical_frame", "d435_depth_optical_frame", "d435_depth_optical_frame"]
    </rosparam>
  </node>

  <node name="extract_indices"
        pkg="jsk_pcl_ros" type="extract_indices">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <remap from="~indices" to="attention_clipper/output/point_indices" />
  </node>

  <!-- Start the inference program-->>
	<node name="yolov4_tiny" pkg="yolov4_tiny" type="inference_ros.py" output="screen" />

	<!-- Show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find drone)/rviz/dynamic_filter.rviz" />

</launch>
