<launch>

  <arg name="gui" default="true" />

  <arg name="INPUT_CLOUD" value="/d435/depth/color/points" />
  <arg name="INPUT_BOX" value="/desired/input/box" />

  <node name="attention_clipper"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/AttentionClipper">
    <remap from="~input/points" to="$(arg INPUT_CLOUD)" />
    <remap from="~input/box" to="$(arg INPUT_BOX)" />
    <rosparam>
      initial_pos: [0.0, -0.05, 0.5]
      initial_rot: [0, 0, 0]
      dimension_x: 0.1
      dimension_y: 0.1
      dimension_z: 0.1
      frame_id: d435_depth_optical_frame
    </rosparam>
  </node>

  <node name="extract_indices"
        pkg="jsk_pcl_ros" type="extract_indices">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <remap from="~indices" to="attention_clipper/output/point_indices" />
  </node>

	<!-- Show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find drone)/rviz/sample_attention_clipper.rviz" />

</launch>