<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find drone)/urdf/xacro/sonar_sensor.urdf.xacro" />
  <xacro:property name="pi" value="3.1415926535897931" />
  <xacro:include filename="$(find drone)/camera/realsense_ros_gazebo/xacro/depthcam.xacro"/>
  <xacro:include filename="$(find drone)/camera/realsense_ros_gazebo/xacro/inertia_calc.xacro"/>
  <!-- Main quadrotor link -->
  <xacro:macro name="quadrotor_base_macro">
    <link name="base_link">
      <inertial>
        <mass value="1.477" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://drone/urdf/meshes/quadrotor_base.dae"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://drone/urdf/meshes/quadrotor_base.stl"/>
        </geometry>
      </collision>
    </link>

    <!-- Sonar height sensor -->
    <xacro:sonar_sensor name="sonar" parent="base_link" ros_topic="sonar_height" update_rate="10" min_range="0.03" max_range="3.0" field_of_view="${40*pi/180}" ray_count="3">
      <origin xyz="-0.16 0.0 -0.012" rpy="0 ${90*pi/180} 0"/>
    </xacro:sonar_sensor>

    <!-- D435I sensor -->
    <xacro:realsense_d435 sensor_name="d435" parent_link="base_link" rate="10" >
      <origin rpy="0 0 1.57079632679 " xyz="0 0.1 -0.19"/>
    </xacro:realsense_d435>

  </xacro:macro>
</robot>
